:root {
    --button-color: rgb(51, 51, 68);
    --button-color-hover: rgb(68, 68, 86);
}
body {
    background-color: rgb(104, 93, 184);
}

.dropDownButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}
button {
    height: 50px;
    width: 200px;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
}
button:hover {
    background-color: var(--button-color-hover);
    cursor: pointer;
}
.dropDownList {
    box-sizing: border-box;
    width: 200px;
    height: auto;
    background-color: var(--button-color-hover);
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    visibility: hidden;
}
.dropDownList.visible {
    visibility: visible;
}
.dropDownElement {
    height: 25px;
    width: auto;
    color: white;
    background-color: var(--button-color-hover);
    border: none;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    padding: 10px;
}
.dropDownElement:hover {
    background-color: var(--button-color);
    cursor: pointer;
}
